@import "variables.less";

@slide-width: 260px;
@item-padding: 14px;
// @slide-amt: @slide-width + (2 * @gridGutterWidth);
@slide-amt: @slide-width;

body.slid {
    overflow: hidden;
}

.navbar .left-menu { float: left; }

.main {
    .screen {
        background: rgba(0,0,0,.8);
        width: 100%;
        height: 2100px;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition-property: left, opacity;
        -webkit-transition-duration: .25s;
        -webkit-transition-timing-function: ease-in-out;
    }

    .container {
        -webkit-transition-property: margin-right, margin-left;
        -webkit-transition-duration: .25s;
        -webkit-transition-timing-function: ease-in-out;
    }

    &.slide-right {
        .screen {
            z-index: 9999;
            opacity: 1;
            left: @slide-width;
        }

        .container {
            margin-left: @slide-amt;
            margin-right: -1 * @slide-amt;
        }
    }

    &.slide-left {
        .screen {
            z-index: 9999;
            opacity: 1;
            left: -1 * @slide-width;
        }

        .container {
            margin-left: -1 * @slide-amt;
            margin-right: @slide-amt;
        }
    }
}

.slide {
    position: fixed;
    width: @slide-width;
    box-shadow: -2px 0 7px rgba(0,0,0,.4) inset;
    background: #fff;
    top: 0;
    z-index: 9999;
    -webkit-transition-property: left, margin-left;
    -webkit-transition-duration: .25s;
    -webkit-transition-timing-function: ease-in-out;

    .navbar {
        position: fixed;
        width: @slide-width;

        .navbar-inner {
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        }
        .navbar-search { float: none; }
        .search-query {
            display: block;
            width: @slide-width - (4 * @gridGutterWidth) - 2px;
            margin: 0 auto;
        }
    }

    &.show {
        display: block;
        overflow: scroll;
        height: 100%;
    }

    &.slide-left {
        left: -1 * @slide-width;
        &.show { left: 0; }
    }

    &.slide-right {
        left: 100%;
        &.show { margin-left: -1 * @slide-width; }
    }
}

.slide-menu {
    margin-top: 3 * @gridGutterWidth;
}
